<%- include('../layouts/layout.ejs'); %>

    <div class="container">
        <h1>Project</h1>
        <hr>
        <form action="/project" method="GET">
            <div class="form-group">
                <label for="concept" class="col-sm-2 control-label">
                    <% if(value[7] == null) { %>
                        <input type="checkbox" value="true" name="cheid">
                        <% } %>
                            <% if(value[7] == 'true') { %>
                                <input type="checkbox" value="true" name="cheid" checked>
                                <% } %>
                                    Id
                </label>
                <div class="col-sm-9">
                    <input type="text" value="<%=value[0]%>" class="form-control" id="text" name="text">
                </div>
            </div>
            <div class="form-group">
                <label for="concept" class="col-sm-2 control-label">
                    <% if(value[8] == null) { %>
                        <input type="checkbox" value="true" name="chename">
                        <% } %>
                            <% if(value[8] == 'true') { %>
                                <input type="checkbox" value="true" name="chename" checked>
                                <% } %>
                                    Name
                </label>
                <div class="col-sm-9">
                    <input type="text" value="<%=value[1]%>" class="form-control" id="name" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="concept" class="col-sm-2 control-label">
                    <% if(value[9] == null) { %>
                        <input type="checkbox" value="true" name="chemember">
                        <% } %>
                            <% if(value[9] == 'true') { %>
                                <input type="checkbox" value="true" name="chemember" checked>
                                <% } %>
                                    Member
                </label>
                <div class="col-sm-9">
                    <input type="text" value="<%=value[2]%>" class="form-control" id="member" name="member">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-left">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
        <!-- <div class="col-md-10">
            <h4>Filters</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
                    <form action="/project" method="GET">
                          <div class="form-group">
                                <label for="concept" class="col-sm-2 control-label">
                                    <% if(value[7] == null) { %>
                                        <input type="checkbox" value="true" name="cheid"> 
                                    <% } %>
                                    <% if(value[7] == 'true') { %>
                                        <input type="checkbox" value="true" name="cheid" checked > 
                                    <% } %>
                                  Id
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" value="<%=value[0]%>" class="form-control" id="id" name="id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="concept" class="col-sm-2 control-label">
                                    <% if(value[8] == null) { %>
                                        <input type="checkbox" value="true" name="chename"> 
                                    <% } %>
                                    <% if(value[8] == 'true') { %>
                                        <input type="checkbox" value="true" name="chename" checked > 
                                    <% } %>
                                  Name
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="<%=value[1]%>" id="string" name="name">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="status" class="col-sm-2 control-label">
                                    <% if(value[9] == null) { %>
                                        <input type="checkbox" value="true" name="chemember"> 
                                    <% } %>
                                    <% if(value[9] == 'true') { %>
                                        <input type="checkbox" value="true" name="chemember" checked > 
                                    <% } %>
                                    Boolean
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="boolean" name="member">
                                        <% if(value[6] == null) { %>
                                            <option value="">Choose the boolean...</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                        <% } %>
                                        <% if(value[6] === 'false') { %>
                                            <option value="">Choose the boolean...</option>
                                            <option value="false" selected>false</option>
                                            <option value="true">true</option>
                                        <% } %>
                                        <% if(value[6] === 'true') { %>
                                            <option value="">Choose the boolean...</option>
                                            <option value="false">false</option>
                                            <option value="true" selected>true</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="col-sm-12 text-left">
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>              
        </div> -->

        <h1 style="margin-top: 200px">Options</h1>
        <form>
            <div class="form-group">
                <label for="concept" class="col-sm-12 control-label">
                    <% if(value[10] == null) { %>
                        <input type="checkbox" value="true" name="cheid2" checked>
                        <% } %>
                            <% if(value[10] == 'true') { %>
                                <input type="checkbox" value="true" name="cheid2" checked>
                                <% } %>
                                    Id
                </label>
            </div>
            <div class="form-group">
                <label for="concept" class="col-sm-12 control-label">
                    <% if(value[11] == null) { %>
                        <input type="checkbox" value="true" name="chename2" checked>
                        <% } %>
                            <% if(value[11] == 'true') { %>
                                <input type="checkbox" value="true" name="chename2" checked>
                                <% } %>
                                    Name
                </label>
            </div>
            <div class="form-group">
                <label for="concept" class="col-sm-12 control-label">
                    <% if(value[12] == null) { %>
                        <input type="checkbox" value="true" name="chemember2" checked>
                        <% } %>
                            <% if(value[12] == 'true') { %>
                                <input type="checkbox" value="true" name="chemember2" checked>
                                <% } %>
                                    Member
                </label>
            </div>
        </form>
        <div class="col-md-12">
            <hr>
        </div>
    </div>




    <div class="container">
        <h1>New Item</h1>
        <%= datauser[0].role %>
            <% if(datauser[0].role == 'admin') { %>
                <form action="/users/project" method="POST" id="create-aform">
                    <div class="form-group">
                        <label for="new-item">Item Text</label>
                        <input type="text" name="text" class="form-control" placeholder="Walk the dog" id="acreate-input">
                    </div>
                    <button class="btn btn-primary">Create Item</button>
                </form>
                <% } %>


                    <!-- <button id="get-button"> Get Products </button> -->




                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="50px" class="cheid2">No</th>
                                <th class="chename2">Name</th>
                                <th class="chemember2">Member</th>
                                <th width="120px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length > 0 && data != 'kosong') {
                    for(var i=0; i<data.length; i++) { %>
                                <tr>
                                    <td class="cheid2">
                                        <input class="editInput projectid" type="text" name="id" id="id" value="<%=data[i].projectid%>" style="display: none;">
                                        <% if(link == '/project' || link == '/project/') { %>
                                            <a href="project/<%=data[i].projectid%>/members" class="editSpan">
                                                <%=data[i].projectid%>
                                            </a>
                                            <% } %>
                                                <% if(link != '/project' && link != '/project/') { %>
                                                    <a href="<%=data[i].projectid%>/members" class="editSpan">
                                                        <%=data[i].projectid%>
                                                    </a>
                                                    <% } %>
                                    </td>
                                    <td class="chename2">
                                        <span class="editSpan name">
                                            <%=data[i].name%>
                                        </span>
                                        <input class="editInput name" type="text" name="name" id="name" value="<%=data[i].name%>" style="display: none;">
                                    </td>
                                    <!-- <td> belum ada </td> -->
                                    <td class="chemember2">
                                        <%=data[i].member%>
                                    </td>
                                    <td class="col-md-2">
                                        <!-- <a class="btn btn-success" href="/users/edit/<%=data[i]._id%>" role="button" id="edit">Edit</a> -->
                                        <!-- <a class="btn btn-success editBtn" href="#" role="button" id="edit">Edit</a> -->

                                        <!-- <form method="POST" action="/users/delete/<%=data[i]._id%>"> -->
                                        <% if(datauser[0].role == 'admin') { %>

                                            <button type="button" class="btn btn-sm btn-default editBtn" style="float: none;">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-default deleteBtn" style="float: none;">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                            <% } %>


                                                <button type="submit" class="btn btn-sm btn-success saveBtn" style="float: none; display: none;">Save</button>
                                                <button type="button" class="btn btn-sm btn-danger confirmBtn" style="float: none; display: none;">Confirm</button>

                                                <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
                                                <!-- </form> -->
                                    </td>
                                </tr>
                                <% page++ %>
                                    <%   } 
                    } %>
                                        <% if(data == 'kosong') { %>
                                            <tr>
                                                <td colspan="3">No user</td>
                                            </tr>
                                            <% } %>
                        </tbody>
                    </table>


                    <% if (pageCount > 1) { %>
                        <ul class="pagination">
                            <% if (currentPage >= 1) { %>
                                <li>
                                    <a href="/?page=1">&laquo;</a>
                                </li>
                                <% } %>
                                    <% j = 1;
      if (currentPage > 5) {
      <!-- i = +currentPage - 4; -->
      j = +currentPage - 4;
      } %>
                                        <% if (j !== 1) { %>
                                            <li class="disabled">
                                                <a href="#">...</a>
                                            </li>
                                            <% } %>
                                                <% for (j; j<=pageCount; j++) {
         %>
                                                    <% if (currentPage == j) { %>
                                                        <li class="active">
                                                            <span>
                                                                <%= j %>
                                                                    <span class="sr-only">(current)</span>
                                                            </span>
                                                        </li>
                                                        <% } else { %>
                                                            <li>
                                                                <a href="/project/?page=<%= j %>&<%= adaurl %>">
                                                                    <%= j %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <% if (j == (+currentPage + 4)) { %>
                                                                    <li class="disabled">
                                                                        <a href="#">...</a>
                                                                    </li>
                                                                    <% break; } %>
                                                                        <% } %>
                                                                            <% if (currentPage <= pageCount) { %>
                                                                                <li>
                                                                                    <a href="/?page=<%= pageCount %>">&raquo;</a>
                                                                                </li>
                                                                                <% } %>
                        </ul>
                        <% } %>


                            <div>

                                <!-- <a class="btn btn-large btn-primary" href="/tambah" role="button">Add</a> -->
                            </div>
    </div>
    <script>
        $("input:checkbox:not(:checked)").each(function () {
            var column = "table ." + $(this).attr("name");
            $(column).hide();
        });

        $("input:checkbox").click(function () {
            var column = "table ." + $(this).attr("name");
            $(column).toggle();
        });

        $('.editBtn').on('click', function projectid() {
            //hide edit span
            $(this).closest("tr").find(".editSpan.name").hide();

            //show edit input
            $(this).closest("tr").find(".editInput.name").show();

            //hide edit button
            $(this).closest("tr").find(".editBtn").hide();

            //show edit button
            $(this).closest("tr").find(".saveBtn").show();

        });

        $('.saveBtn').on('click', function () {
            var rowEl = $(this).closest('tr');
            var ambilid = rowEl.find('.projectid').val();
            var ambiltext = rowEl.find('.editInput.name').val();
            // var editSpan = rowEl.find('.editSpan').text();
            // console.log(editSpan);
            console.log(ambilid);
            console.log(ambiltext);
            $.ajax({
                type: 'POST',
                url: './../users/project/edit/',
                dataType: "json",
                data: { id: ambilid, name: ambiltext },
                success: function (response) {
                    if (response.status == 'ok') {
                        console.log(response.data);
                        rowEl.find(".editSpan.name").text(response.data[0]);

                        rowEl.find(".editInput.name").text(response.data[0]);

                        rowEl.find(".editInput").hide();
                        rowEl.find(".saveBtn").hide();
                        rowEl.find(".editSpan").show();
                        rowEl.find(".editBtn").show();
                    } else {
                        alert(response.msg);
                    }
                }
            });
        });

        $('.deleteBtn').on('click', function () {
            //hide delete button
            $(this).closest("tr").find(".deleteBtn").hide();

            //show confirm button
            $(this).closest("tr").find(".confirmBtn").show();

        });

        $('.confirmBtn').on('click', function () {
            var trObj = $(this).closest("tr");
            var ID = $(this).closest("tr").attr('id');
            var rowEl = $(this).closest('tr');
            var ambilid = rowEl.find('.projectid').val();
            $.ajax({
                type: 'POST',
                url: '../users/project/delete/',
                dataType: "json",
                data: { id: ambilid },
                success: function (response) {
                    if (response.status == 'ok') {
                        trObj.remove();
                    } else {
                        trObj.find(".confirmBtn").hide();
                        trObj.find(".deleteBtn").show();
                        alert(response.msg);
                    }
                }
            });
        });
    </script>
    <!-- <script type="text/javascript" src="./javascripts/script.js"></script>
    <script type="text/javascript" src="../javascripts/script.js"></script> -->