<%- include('../../layouts/layout.ejs'); %>
    <link rel="stylesheet" href="../../stylesheets/style.css">

    <div class="container">
        <ul class="nav nav-pills nav-stacked nav2">
            <li role="presentation" >
                <a href="#">Overview</a>
            </li>
            <li role="presentation">
                <a href="#">Activity</a>
            </li>
            <li role="presentation" class="active">
                <a href="#">Members</a>
            </li>
            <li role="presentation">
                <a href="#">Issues</a>
            </li>
        </ul>
        <div class="main content">
            <div class="row">
                <div class="col-md-12">
                    <h1>Members</h1>
                    <hr>
                    <h1>Filters</h1>

                    <form action="/project/<%= id %>/members" method="GET">
                        <div class="form-group">
                            <label for="concept" class="col-md-3 control-label">
                                <% if(value[7] == null) { %>
                                    <input type="checkbox" value="true" name="cheid">
                                    <% } %>
                                        <% if(value[7] == 'true') { %>
                                            <input type="checkbox" value="true" name="cheid" checked>
                                            <% } %>
                                                Id
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="<%=value[0]%>" class="form-control" id="text" name="id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="concept" class="col-md-3 control-label">
                                <% if(value[8] == null) { %>
                                    <input type="checkbox" value="true" name="chename">
                                    <% } %>
                                        <% if(value[8] == 'true') { %>
                                            <input type="checkbox" value="true" name="chename" checked>
                                            <% } %>
                                                Name
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="<%=value[1]%>" class="form-control" id="name" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="concept" class="col-md-3 control-label">
                                <% if(value[9] == null) { %>
                                    <input type="checkbox" value="true" name="cheposition">
                                    <% } %>
                                        <% if(value[9] == 'true') { %>
                                            <input type="checkbox" value="true" name="cheposition" checked>
                                            <% } %>
                                                Position
                            </label>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" id="position" name="position">
                                        <option value="">Pilih Posisi</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Programmer">Software Developer</option>
                                        <option value="Quality Assurance">Quality Assurance</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-left">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </form>
                    <!-- <div class="col-md-10">
                                    <h4>Filters</h4>
                                    <div class="panel panel-default">
                                        <div class="panel-body form-horizontal payment-form">
                                            <form action="/project" method="GET">
                                                  <div class="form-group">
                                                        <label for="concept" class="col-sm-2 control-label">
                                                            <% if(value[7] == null) { %>
                                                                <input type="checkbox" value="true" name="cheid"> 
                                                            <% } %>
                                                            <% if(value[7] == 'true') { %>
                                                                <input type="checkbox" value="true" name="cheid" checked > 
                                                            <% } %>
                                                          Id
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" value="<%=value[0]%>" class="form-control" id="id" name="id">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="concept" class="col-sm-2 control-label">
                                                            <% if(value[8] == null) { %>
                                                                <input type="checkbox" value="true" name="chename"> 
                                                            <% } %>
                                                            <% if(value[8] == 'true') { %>
                                                                <input type="checkbox" value="true" name="chename" checked > 
                                                            <% } %>
                                                          Name
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" value="<%=value[1]%>" id="string" name="name">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label for="status" class="col-sm-2 control-label">
                                                            <% if(value[9] == null) { %>
                                                                <input type="checkbox" value="true" name="chemember"> 
                                                            <% } %>
                                                            <% if(value[9] == 'true') { %>
                                                                <input type="checkbox" value="true" name="chemember" checked > 
                                                            <% } %>
                                                            Boolean
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" id="boolean" name="member">
                                                                <% if(value[6] == null) { %>
                                                                    <option value="">Choose the boolean...</option>
                                                                    <option value="false">false</option>
                                                                    <option value="true">true</option>
                                                                <% } %>
                                                                <% if(value[6] === 'false') { %>
                                                                    <option value="">Choose the boolean...</option>
                                                                    <option value="false" selected>false</option>
                                                                    <option value="true">true</option>
                                                                <% } %>
                                                                <% if(value[6] === 'true') { %>
                                                                    <option value="">Choose the boolean...</option>
                                                                    <option value="false">false</option>
                                                                    <option value="true" selected>true</option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div> 
                                                    <div class="form-group">
                                                        <div class="col-sm-12 text-left">
                                                            <button type="submit" class="btn btn-primary">Filter</button>
                                                        </div>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>              
                                </div> -->

                    <h1 style="margin-top: 200px">Options</h1>
                    <form>
                        <div class="form-group">
                            <label for="concept" class="col-sm-12 control-label">
                                <% if(value[10] == null) { %>
                                    <input type="checkbox" value="true" name="cheid2">
                                    <% } %>
                                        <% if(value[10] == 'true') { %>
                                            <input type="checkbox" value="true" name="cheid2" checked>
                                            <% } %>
                                                Id
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="concept" class="col-sm-12 control-label">
                                <% if(value[11] == null) { %>
                                    <input type="checkbox" value="true" name="chename2">
                                    <% } %>
                                        <% if(value[11] == 'true') { %>
                                            <input type="checkbox" value="true" name="chename2" checked>
                                            <% } %>
                                                Name
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="concept" class="col-sm-12 control-label">
                                <% if(value[12] == null) { %>
                                    <input type="checkbox" value="true" name="cheposition2">
                                    <% } %>
                                        <% if(value[12] == 'true') { %>
                                            <input type="checkbox" value="true" name="cheposition2" checked>
                                            <% } %>
                                                Position
                            </label>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="">
                        <h1>New Item</h1>
                        <%= adaurl.match(/\d+/g) %>
                            <form action="/users/project/members/add/<%= id %>" method="POST" id="create-aform">
                                <div class="form-group">
                                    <label for="new-item">Item Text</label>
                                    <select class="form-control" id="member" name="userid">
                                        <option value="">Choose the boolean...</option>
                                        <% for( let j = 0; j < data3.length; j++) { %>
                                            <option value="<%=data3[j].userid%>">
                                                <%=data3[j].firstname%>
                                                    <%=data3[j].lastname%> di posisi
                                                        <%=data3[j].position%>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <button class="btn btn-primary">Create Item</button>
                            </form>

                            <!-- <button id="get-button"> Get Products </button> -->




                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th width="50px" class="cheid2">No</th>
                                        <th class="chename2">Name</th>
                                        <th class="cheposition2">Member</th>
                                        <th width="120px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(data.length > 0 && data != 'kosong') {
                                            for(var i=0; i<data.length; i++) { %>
                                        <tr>
                                            <td class="cheid2">
                                                <input class="editInput memberid" type="text" name="id" id="id" value="<%=data[i].id%>" style="display: none;">
                                                <a href="project/<%=data[i].projectid%>/members" class="editSpan memberid">
                                                    <%=data[i].id%>
                                                </a>
                                            </td>
                                            <td class="chename2">
                                                <span class="editSpan name">
                                                    <%=data[i].firstname%>
                                                        <%=data[i].lastname%>
                                                </span>
                                            </td>
                                            <!-- <td> belum ada </td> -->
                                            <td class="cheposition2">
                                                <%=data[i].position%>
                                            </td>
                                            <td class="col-md-2">
                                                <!-- <a class="btn btn-success" href="/users/edit/<%=data[i]._id%>" role="button" id="edit">Edit</a> -->
                                                <!-- <a class="btn btn-success editBtn" href="#" role="button" id="edit">Edit</a> -->

                                                <!-- <form method="POST" action="/users/project/members/delete/<%=data[i].id%>"> -->


                                                <button type="submit" class="btn btn-sm btn-default deleteBtn" style="float: none;">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>


                                                <button type="button" class="btn btn-sm btn-danger confirmBtn" style="float: none; display: none;">Confirm</button>

                                                <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
                                                <!-- </form> -->
                                            </td>
                                        </tr>
                                        <% page++ %>
                                            <%   } 
                                            } %>
                                                <% if(data == 'kosong') { %>
                                                    <tr>
                                                        <td colspan="3">No user</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>


                            <% if (pageCount > 1) { %>
                                <ul class="pagination">
                                    <% if (currentPage >= 1) { %>
                                        <li>
                                            <a href="/?page=1">&laquo;</a>
                                        </li>
                                        <% } %>
                                            <% j = 1;
                              if (currentPage > 5) {
                              <!-- i = +currentPage - 4; -->
                              j = +currentPage - 4;
                              } %>
                                                <% if (j !== 1) { %>
                                                    <li class="disabled">
                                                        <a href="#">...</a>
                                                    </li>
                                                    <% } %>
                                                        <% for (j; j<=pageCount; j++) {
                                 %>
                                                            <% if (currentPage == j) { %>
                                                                <li class="active">
                                                                    <span>
                                                                        <%= j %>
                                                                            <span class="sr-only">(current)</span>
                                                                    </span>
                                                                </li>
                                                                <% } else { %>
                                                                    <li>
                                                                        <a href="/project/?page=<%= j %>&<%= adaurl %>">
                                                                            <%= j %>
                                                                                test
                                                                                <%= adaurl %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (j == (+currentPage + 4)) { %>
                                                                            <li class="disabled">
                                                                                <a href="#">...</a>
                                                                            </li>
                                                                            <% break; } %>
                                                                                <% } %>
                                                                                    <% if (currentPage <= pageCount) { %>
                                                                                        <li>
                                                                                            <a href="/?page=<%= pageCount %>">&raquo;</a>
                                                                                        </li>
                                                                                        <% } %>
                                </ul>
                                <% } %>


                                    <div>

                                        <!-- <a class="btn btn-large btn-primary" href="/tambah" role="button">Add</a> -->
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $("input:checkbox(:checked)").each(function () {
            var column = "table ." + $(this).attr("name");
            $(column).hide();
        });

        $("input:checkbox").click(function () {
            var column = "table ." + $(this).attr("name");
            $(column).toggle();
        });

        $('.deleteBtn').on('click', function () {
            //hide delete button
            $(this).closest("tr").find(".deleteBtn").hide();

            //show confirm button
            $(this).closest("tr").find(".confirmBtn").show();

        });

        $('.confirmBtn').on('click', function () {
            var trObj = $(this).closest("tr");
            var ID = $(this).closest("tr").attr('id');
            var rowEl = $(this).closest('tr');
            var ambilid = rowEl.find('.memberid').val();
            console.log(ambilid);
            $.ajax({
                type: 'POST',
                url: '/users/project/members/delete/',
                dataType: "json",
                data: { id: ambilid },
                success: function (response) {
                    if (response.status == 'ok') {
                        trObj.remove();
                    } else {
                        trObj.find(".confirmBtn").hide();
                        trObj.find(".deleteBtn").show();
                        alert(response.msg);
                    }
                }
            });
        });
    </script>
    <script type="text/javascript" src="./javascripts/script.js"></script>
    <script type="text/javascript" src="../javascripts/script.js"></script>